* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   

a {
  text-decoration: none;
  color: inherit; 
}

body {
    font-family: Arial;
}

.banner {
    color:rgb(0, 0, 0);
    background-color: #194570;
    -webkit-text-stroke: 0.5px white;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    height: 100px;

}

ul.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;

    margin-left: 15px;

}

nav.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: black;
    color:aliceblue;
    height: 30px;
}

main {
    background-color: rgb(255, 255, 255);
    height: 655px;
}

.product{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    height: 400px;
    width: 100%;

    background-color: rgb(60, 33, 209);

}

.productgrid{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: blueviolet;

}

.container {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    margin: 20px;
    padding: 10px;

    background-color: #f0f0f0; 
    border-radius: 8px;

}

img.container {
    width: 150px;
}

a.container {
    display: flex;
    align-items: center;
    justify-content: center;
    

    

}

.price_description {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100px;
    background-color: #194570;
}



footer > div {
    width: 50%;

}