* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   

a {
  text-decoration: none;
  color: inherit; 
}

body {
    font-family: Arial;
}

.banner {
    color:rgb(0, 0, 0);
    background-color: #194570;
    -webkit-text-stroke: 0.5px white;

    display: flex; /* Gebruik Flexbox */
    align-items: center; /* Verticaal centeren */
    justify-content: flex-start; /* Horizontaal links uitlijnen */
    gap: 20px; /* Ruimte tussen afbeelding en tekst */
    padding: 20px; /* Ruimte rondom de banner */
    height: 100px;

}

ul.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;

    margin-left: 15px;

}

nav.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: black;
    color:aliceblue;
    height: 30px;
}

main {
    background-color: rgb(255, 255, 255);
    height: 655px;
}

.product{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    height: 400px;
    width: 100%;

    background-color: rgb(60, 33, 209);

}

.productgrid{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: blueviolet;

}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between image and text */
    width: 200px; /* Set a width for the container */
    margin: 10px; /* Space around the container */
    padding: 10px; /* Space inside the container */
    background-color: #f0f0f0; /* Optional: Background color */
    border-radius: 8px;

}

img.container {
    width: 150px;
}

a.container {
    display: flex;
    align-items: center;
    justify-content: center;

    

}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100px;
    background-color: #194570;
}



footer > div {
    width: 50%;

}