* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   

a {
  text-decoration: none;
  color: inherit; 
}

body {
    font-family: Arial;
    height: 100%;
}

.banner {
    color:rgb(0, 0, 0);
    background-color: #194570;
    -webkit-text-stroke: 0.5px white;

    font-family: 'Press Start 2P', cursive;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    height: 100px;

}
/*nav -------------------------------------------------------------------------------*/

nav.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: black;
    color:aliceblue;
    height: 30px;
}

ul.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;

    margin-left: 15px;
    width: 96%;

}

/*main -------------------------------------------------------------------------------*/
main {
    padding-bottom: 5px;

}

/*Web info -------------------------------------------------------------------------------*/
.web_info{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width: 100%;
    height: 500px;

}

.web_info_text{
    background-image: linear-gradient(to left, #5b6ee1,white);

    width: 50%;
    height: 100%;

}

.illustration{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 32px;
    color: white;
    
    width: 50%;
    height: 100%;


}



/*
img.illustration{
    height: 500px;
    width: 500px;

}
*/
/*Products -------------------------------------------------------------------------------*/
.products{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    height: 400px;
    width: 100%;

    background-color: #f0f0f0; 

}

.productgrid{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: #f0f0f0; 

}

.container {
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
}

.container:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    margin: 20px;
    padding: 10px;

    background-color: #f0f0f0; 
    border-radius: 8px;

}

img.container {
    width: 150px;
}

button.container {
    background-color: #5b6ee1;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    margin-top: 10px;
    width: 30%;


}

button.container:hover {
    transform: scale(1.50);

}

a.container {
    display: flex;
    align-items: center;
    justify-content: center;
    

    

}

.price_description {
    margin-top: 10px;
    font-weight: bold;
}

.label {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    z-index: 1; /* <--- Ensures the label appears above the image */
}

/*colors for different labels */
.label.sale {
    background-color: #ff6b6b;
}

.label.new {
    background-color: #4ecdc4;
}

.label.limited {
    background-color: #a78bfa;
}


/*footer -------------------------------------------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100px;
    background-color: #194570;
}



footer > div {
    width: 50%;
    

}

/*---------------------------------------------------------------------------------*/
@media (max-width: 1224px) {
    .products {
        height: 800px;
    }

    .productgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        

        max-width: 900px;
    }



}

/*---------------------------------------------------------------------------------*/
@media (max-width: 746px) {
    .products {
        height: 1320px;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .productgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }


    img.container {
    width: 200px;
}

}