body{
    background-color: #f0f0f0;
}
main{
    display: flex;
    flex-direction: row;
    
    height: 670px;
    background-color: #ffffff;
    margin-left: 120px;
    margin-right: 120px;
}

.display {
    width: 50%;
}

.display.product {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

img.display.product {
    width: 60%;

}

.display.product.label {
    position: absolute;
    top: 32px;
    right: 32px;
    border-radius: 90px;
    width: 60px;
    height: 60px;

    font-size: 24px;
    
}


.display.info {
    padding-top: 6%;
    
    
}

p.display.info {
    font-size: 24px;
    font-weight: bold;

    
}

ul.display.info {
    padding-left: 20px;
}

.crossed-off {
    color: rgb(196, 196, 196);
    text-decoration: line-through;
    text-decoration-color: rgb(196, 196, 196);
    text-decoration-thickness: 1px;
    font-weight: 300;
    font-size: 16px;
}